.btn {
  &-cart {
    font-size: 1.3rem !important;
    font-family: 'Pacifico', cursive;
    &:hover {
      background-color: var(--color-black) !important;
      color: var(--color-white) !important;
    }
  }
  &-viewall {
    font-size: 1.3rem !important;
    margin-top: 2rem !important;
  }
}

.btn-primary {
  padding: 1.2rem 2rem;
  background-color: var(--color-primary);
  font-size: 1.5rem;
  color: var(--color-white);
  text-transform: capitalize;

  &__submit {
    margin-right: 2rem;
    border-radius: 0.2rem;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-black);
    }
  }
  &__proceed {
    margin-top: 3rem;
    border-radius: 0.2rem;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-black);
    }
  }
}
