///HEADINGS/////

.heading-primary {
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: 'Pacifico', cursive;
  &-span {
    color: var(--color-primary);
    font-family: 'Pacifico', cursive;
  }
}
.heading-tertiary {
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
  font-size: 2.5rem;

  &__mod {
    font-weight: 400;
  }
}

///default link style
.defLink {
  &:link,
  &:visited {
    text-decoration: none;
  }
}
