//Hero section slider
.VueCarousel-pagination[data-v-438fd353] {
  position: relative;
}
.VueCarousel-dot-container[data-v-438fd353] {
  position: absolute;
  top: -8rem;
}
.VueCarousel-dot--active[data-v-438fd353] {
  background-color: rgb(11, 187, 159);
}
