////////////COLORS///////////////

:root {
  --color-primary: #6cba4c;
  --color-primary-dark: #55b331;
  --color-primary-light: #8ce668;

  --color-red-1: #ec407a;

  --color-black: #0c0c0c;
  --color-white: #fff;
  --color-grey-dark-1: #534e4e;
  --color-grey-light-1: #f5f5f5;
}
