////////////COLORS///////////////

:root {
  --color-primary: #6cba4c;
  --color-primary-dark: #55b331;
  --color-primary-light: #8ce668;

  --color-red-1: #ec407a;

  --color-black: #2c2a2a;
  --color-white: #fff;
  --color-grey-dark-1: #534e4e;
  --color-grey-light-1: #f5f5f5;
}

$color-primary-dark: #55b331;
$color-primary-light: #8ce668;

$color-blue-dark-1: #2835ec;
$color-blue-light-1: #2773e4;

$color-red-light-1: #eb3d7f;
$color-red-dark-1: #d11d62;

$color-grey-light-2: #fafafa;
$color-grey-light-3: #d3cece;

$color-grey-dark-1: #534e4e;
